/* font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  outline: none;
}

:root {
  --shadow: 0 1px 5px rgba(34, 9, 105, 0.8);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #191765;
  overflow-x: hidden;
}

section {
  margin: 60px 0;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  color: #fff;
  font-size: 2.9rem;
  font-weight: 700;
}

h4 {
  font-size: 1.6rem;
  margin: 5px 0;
  font-weight: 700;
}

h3,
h4,
h5 {
  color: #fff;
  font-weight: normal;
}

.career {
  font-size: 2.5rem;
  font-weight: 700;
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

.special {
  color: #9390ff;
}

h5 {
  font-size: 1.6rem;
}

p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7rem;
  color: #c8c8d4;
  line-height: 2.5rem;
  padding: 2% 0;
}

hr {
  color: #646369;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

header {
  height: 100vh;
}

nav {
  position: fixed;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  top: 0;

  /* align-items: center; */
  padding: 2% 8%;
  width: 100vw;
  z-index: 11;
}

.logo {
  color: #fff;
  z-index: 1000;
}

header nav ul li i.fa-greater-than {
  display: none;
}

nav .hambuger {
  font-size: 3.5rem;
  color: #fff;
  display: none;
  padding: 1rem 0;
}

.hambuger-menu {
  display: none;
}

.ion-icon {
  margin-top: 2%;
  color: #fff;
  font-size: 2.5rem;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 2rem;
}

nav ul li a {
  display: block;
}

nav ul li a:hover {
  color: #0ab507;
  transition: all 0.7s ease-in-out;
  transform: rotate(5deg);
}

.circle1 {
  position: absolute;
  width: 184px;
  height: 184px;
  left: 69px;
  top: 237px;
  background: #edecff;
  filter: blur(50px);
}

.circle2 {
  position: absolute;
  width: 226px;
  height: 226px;
  left: 1143px;
  top: 546px;
  background: #edecff;
  filter: blur(50px);
}

.main-section {
  top: 8rem;
  width: 80%;
  margin: auto;
  height: auto;
  position: relative;
  justify-content: center;
}

.my-name {
  color: #9390ff;
  padding: 5% 0;
  z-index: 0;
}

.title-section {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 3% 0;
  justify-content: center;
  align-items: center;
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: rotate(360deg);
  }
}

.my-description {
  width: 40%;
  margin: auto;
  margin-top: 8rem;
  text-align: center;
}

.my-description p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.horiline {
  margin: 6% 0;
  height: 1px;
}

.horiline1 {
  margin: 2% 0;
  height: 1px;
}

.language,
.frameworks,
.skills {
  text-align: left;
  padding: 3% 10%;
  margin: 2% 15%;
}

.language h5,
.frameworks h5,
.skills h5 {
  padding: 5% 2%;
  color: #c8c8d4;
}

.language h2,
.frameworks h2,
.skills h2 {
  padding-bottom: 12%;
  color: #9390ff;
}

.row1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.row2 {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.links {
  padding: 0 3%;
}

.main-container {
  margin: auto;
  width: 80%;
  margin-top: 15%;
}

.frame2 {
  margin: 6% 0;
}

.feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4% 2%;
  margin: 6% 0;
  grid-template-areas: "image1 content1";
}

.images {
  grid-area: image1;
}

.feature-content {
  margin-top: 6%;
  grid-area: content1;
}

.ft2,
.ft4 {
  grid-template-areas: "content1 image1";
}

.lang > img {
  width: 5px;
  height: 20px;
}

.rec {
  width: 5px;
  height: 20px;
}

.row3 {
  display: flex;
  justify-content: start;
  margin: 2.5% 0;
}

.sk,
.rec {
  margin-right: 4%;
  margin-bottom: 3%;
}

.story-tt {
  color: #fff;
  font-size: 2.3rem;
  margin: 1% 0;
}

.btn {
  background-color: #7370c9;
  color: #fff;
  padding: 3.3% 5%;
  margin: 2% 0;
  transition: 1s ease-in-out;
  outline: none;
  border: none;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background-color: #000;
  color: #fff;
  outline: none;
}

.screen-scroll {
  background-color: #191765;
  padding: 0 2%;
}

.contact-us {
  margin: auto;
  width: 40%;
  margin-top: 8rem;
}

.contact-title {
  text-align: center;
}

.contact-title p {
  transition: transform 2s;
}

.contact-title p:hover {
  transform: translateX(20px);
}

.my-form {
  /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  width: 100%;
}

form {
  display: block;
  text-align: center;
}

.names {
  display: flex;
  gap: 0.5rem;
}

input[type="text"] {
  width: 50%;
  height: 4.5rem;
  margin: 1.5% 0;
  background-color: #fff;
}

input[type="email"] {
  background-color: #fff;
  width: 100%;
  height: 4.5rem;
  margin: 1.5% 0;
}

textarea {
  width: 100%;
  height: 10rem;
  margin: 1.5% 0;
  background-color: #fff;
}

input::placeholder,
textarea::placeholder {
  font-size: 1.5rem;
}

.social-links {
  margin: auto;
  width: 80%;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}

.my-links1 {
  justify-content: center;
  align-items: center;
}

.my-mail {
  margin-top: 5px;
  text-align: center;
}

.line {
  width: 20%;
  height: 3px;
  margin: 5% 40%;
  display: none;
}

/* ============window pop-up========= */
.popup-overlay {
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.popup {
  margin: 10px 0;
  position: fixed;
  top: -42%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 80%;
  background: rgba(255, 255, 255, 0.16);
  border: 1px solid #fff;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  z-index: 1000;
  color: #fff;
  display: none;
  transition: display 1s linear;
  backdrop-filter: blur(50px);
  padding-bottom: 40px;
}

.close-btn {
  font-size: 35px;
  outline: none;
  border: none;
}

.header-pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  z-index: 1000;
}

.close-btn:hover {
  outline: none;
  cursor: pointer;
}

.popup-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.row5 {
  display: flex;
  justify-content: center;
  margin: 2.5% 0;
}

.descrption-div {
  width: 60%;
  z-index: 1000;
}

.descrpt {
  line-height: 30px;
  font-size: 16px;
}

.img-popup-div {
  width: 100%;
  height: 330px;
}

.img-popup-div > img {
  width: 100%;
  height: 330px;
  object-fit: fill;
}

.buttons {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
}

.btn1{
  padding: 10px 3px;
}

.buttons > * {
  margin: 0 17px;
}

.fa-arrow-circle-right,
.fa-github {
  font-size: 16px;
  margin: 0 10px;
}

/* ----------model end-------- */

/* ----------media query-------- */
@media only screen and (max-width: 768px) {
  nav {
    width: 100vw;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #191765;
    z-index: 777;
    height: 60px;
    margin: 0;
    padding: 0;
  }

  .hambuger-menu {
    display: block;
  }

  .special {
    padding: 0;
    font-size: 18px;
  }

  .logo {
    padding-left: 3%;
    padding-top: 7px;
    z-index: 1000;
  }

  header nav ul li i.fa-greater-than {
    display: block;
    font-size: 18px;
  }

  .circle1 {
    position: fixed;
    width: 220px;
    height: 200px;
    left: -156px;
    top: 190px;
    display: block;
    z-index: 777;
    opacity: 1;
  }

  .circle2 {
    position: fixed;
    width: 148px;
    height: 268px;
    left: 280px;
    top: 445px;
    display: block;
    z-index: 999;
    opacity: 1;
  }

  .my-name {
    z-index: 0;
  }

  nav ul {
    margin: 0% 0%;
    margin-top: 14%;
    display: block;
    width: 100%;
    background-color: #191765;
    mix-blend-mode: multiply;
    height: 812px;

    /* box-shadow: var(--shadow); */
    transition: transform 1s linear;
    transform: translateY(-200%);
    z-index: 1000;
    padding-top: 0;
    padding-bottom: 812px;
    position: fixed;
  }

  #close {
    display: none;
  }

  #menu {
    display: block;
    position: absolute;
    right: 32px;
    top: 20px;
    font-size: 25px;
    color: white;
    z-index: 1000;
  }

  .mail {
    display: none;
  }

  nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 1% 1%;
    line-height: 40px;
    cursor: pointer;
  }

  .fa-greater-than {
    font-size: 24px;
    color: #acb7c3;
    position: absolute;
    right: 70px;
    z-index: 1000;
  }

  nav ul li a {
    font-size: 1.8rem;
    transition: all 0.6s linear;
    color: #fff;
  }

  nav ul li a:hover {
    color: #16e916;
    transform: translateY(-0.4rem);
  }

  .showmenu {
    transform: translateY(0);
    transition: transform 1s;
    display: block;
    width: 100%;
  }

  .title-section {
    width: 100%;
  }

  .my-description {
    width: 90%;
    padding: 0 5%;
  }

  .main-main {
    margin-top: 20rem;
  }

  .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 4%;
  }

  .row2 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .e-left {
    display: none;
  }

  .e-right {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
  }

  .links {
    padding: 0 2%;
  }

  .feature {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5%;
    margin-bottom: 25%;
    grid-template-areas:
      "image1"
      "content1";
  }

  .contact-us {
    margin: auto;
    width: 80%;
    margin-top: 8rem;
  }

  .names {
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1.6rem;
  }

  .line {
    display: block;
  }

  /* =============modal ============== */
  .popup-overlay {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: none;
  }

  .popup {
    margin: 0 auto;
    padding: 0 2px;
    position: absolute;
    top: -32%;
    transform: translate(-50%, 50%);
    width: 80%;
    background-color: #191765;
    border: 1px solid white;
    z-index: 1000;
    color: #fff;
    display: none;
    transition: display 1s linear;
  }

  .close-btn {
    font-size: 35px;
    outline: none;
    border: none;
  }

  .header-pop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    z-index: 1000;
  }

  .header-pop h3 {
    font-size: 16px;
  }

  .close-btn:hover {
    outline: none;
    cursor: pointer;
  }

  .popup-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
  }

  .row5 {
    display: flex;
    justify-content: center;
    margin: 2.5% 0;
  }

  .descrption-div {
    width: 100%;
    text-align: center;
    z-index: 1000;
  }

  .sk{
    font-size: 15px;
  }

  .descrption-div p{
    font-size: 13px;
  }

  .descrpt {
    font-size: 15px;
  }

  .img-popup-div {
    width: 100%;
    height: 190px;
    justify-content: center;
    text-align: center;
  }

  .img-popup-div > img {
    width: 100%;
    height: 180px;
    margin: 5px auto;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
  }

  .buttons > * {
    margin: 10px 10px;
    padding: 8px 10px;
  }

  .btn1 {
    font-size: 13px;
    font-style: normal;
  }

  .fa-arrow-circle-right,
  .fa-github {
    font-size: 20px;
    margin: 0 10px;
  }
}
